/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1316dd;
  --ifm-color-primary-dark: #1114c7;
  --ifm-color-primary-darker: #1013bc;
  --ifm-color-primary-darkest: #0d0f9b;
  --ifm-color-primary-light: #1c20ec;
  --ifm-color-primary-lighter: #282aec;
  --ifm-color-primary-lightest: #3335ed;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff6060;
  --ifm-color-primary-dark: #ff4e4e;
  --ifm-color-primary-darker: #ff3d3d;
  --ifm-color-primary-darkest: #ff2b2b;
  --ifm-color-primary-light: #ff8383;
  --ifm-color-primary-lighter: #ff9595;
  --ifm-color-primary-lightest: #ffc9c9;
}
